#include <Windows.h>

100 ICON MOVEABLE PURE "100.ico"

101 BITMAP MOVEABLE PURE "101.bmp"
102 BITMAP MOVEABLE PURE "102.bmp"
103 BITMAP MOVEABLE PURE "103.bmp"
104 BITMAP MOVEABLE PURE "104.bmp"
105 BITMAP MOVEABLE PURE "105.bmp"
106 BITMAP MOVEABLE PURE "106.bmp"
107 BITMAP MOVEABLE PURE "107.bmp"
108 BITMAP MOVEABLE PURE "108.bmp"
109 BITMAP MOVEABLE PURE "109.bmp"
110 BITMAP MOVEABLE PURE "110.bmp"
111 BITMAP MOVEABLE PURE "111.bmp"

106 CURSOR MOVEABLE PURE "106.cur"

107 DIALOG MOVEABLE PURE 0, 0, 149, 83
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Configuracion de Stray Sheep"
FONT 9, "‚l‚r ‚oƒSƒVƒbƒN"
BEGIN
    CONTROL "Aceptar", IDOK, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_DEFPUSHBUTTON, 92, 7, 50, 14
    CONTROL "Cancelar", IDCANCEL, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_PUSHBUTTON, 92, 25, 50, 14
    CONTROL "Ayuda", IDRETRY, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_PUSHBUTTON, 92, 43, 50, 14
    CONTROL "Cerrar", IDABORT, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_PUSHBUTTON, 92, 61, 50, 14
    CONTROL "Sonidos", 1002, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTOCHECKBOX, 7, 7, 57, 10
    CONTROL "Alarma", 1001, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTOCHECKBOX, 7, 23, 69, 10
    CONTROL "Siempre activo", 1003, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTOCHECKBOX, 7, 39, 57, 10
    CONTROL "Gravedad", 1004, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTOCHECKBOX, 7, 56, 74, 10
END

108 DIALOG MOVEABLE PURE 0, 0, 219, 133
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Ventana de Debug de Stray Sheep"
FONT 9, "‚l‚r ‚oƒSƒVƒbƒN"
BEGIN
    CONTROL "Aceptar", IDOK, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_DEFPUSHBUTTON, 168, 112, 42, 14
    CONTROL "Al azar", 1002, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTORADIOBUTTON, 7, 7, 46, 10
    CONTROL "Correr", 1003, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTORADIOBUTTON, 7, 19, 46, 10
    CONTROL "Caminar", 1004, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTORADIOBUTTON, 7, 31, 46, 10
    CONTROL "Dos patas", 1005, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTORADIOBUTTON, 7, 43, 46, 10
    CONTROL "Mendigar", 1006, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTORADIOBUTTON, 7, 55, 46, 10
    CONTROL "Dormir", 1007, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTORADIOBUTTON, 7, 67, 46, 10
    CONTROL "Ver arriba", 1008, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTORADIOBUTTON, 7, 79, 46, 10
    CONTROL "Doblar", 1009, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTORADIOBUTTON, 7, 91, 46, 10
    CONTROL "Chocar", 1010, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTORADIOBUTTON, 7, 103, 46, 10
    CONTROL "Tintinear", 1011, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTORADIOBUTTON, 7, 116, 46, 10
    CONTROL "Bostezo", 1012, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTORADIOBUTTON, 53, 7, 50, 10
    CONTROL "Balar", 1013, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTORADIOBUTTON, 53, 19, 50, 10
    CONTROL "Sorprendido", 1014, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTORADIOBUTTON, 53, 31, 50, 10
    CONTROL "Aterrado", 1015, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTORADIOBUTTON, 53, 43, 50, 10
    CONTROL "Comer flores", 1016, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTORADIOBUTTON, 53, 55, 50, 10
    CONTROL "Sentarse", 1017, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTORADIOBUTTON, 53, 67, 50, 10
    CONTROL "Estornudar", 1018, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTORADIOBUTTON, 53, 79, 50, 10
    CONTROL "Quemarse", 1019, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTORADIOBUTTON, 53, 91, 50, 10
    CONTROL "Ver arriba", 1020, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTORADIOBUTTON, 53, 103, 50, 10
    CONTROL "Cita", 1021, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTORADIOBUTTON, 53, 116, 50, 10
    CONTROL "Perseguido", 1022, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTORADIOBUTTON, 108, 7, 50, 10
    CONTROL "Ovni 1", 1023, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTORADIOBUTTON, 108, 19, 50, 10
    CONTROL "Ovni 2", 1024, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTORADIOBUTTON, 108, 31, 50, 10
    CONTROL "Ovni 3", 1025, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTORADIOBUTTON, 108, 43, 50, 10
    CONTROL "Rodar", 1026, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTORADIOBUTTON, 108, 55, 50, 10
    CONTROL "Sonrojarse", 1027, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTORADIOBUTTON, 108, 67, 50, 10
    CONTROL "Escalar", 1028, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTORADIOBUTTON, 108, 79, 50, 10
    CONTROL "Caer", 1029, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTORADIOBUTTON, 108, 91, 50, 10
    CONTROL "Saltar", 1030, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTORADIOBUTTON, 108, 103, 50, 10
    CONTROL "Fallecer", 1031, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTORADIOBUTTON, 108, 116, 50, 10
    CONTROL "Subir", 1032, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_PUSHBUTTON, 173, 7, 29, 14
    CONTROL "Bajar", 1033, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_PUSHBUTTON, 173, 41, 29, 14
    CONTROL "<<", 1034, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_PUSHBUTTON, 166, 24, 15, 14
    CONTROL ">>", 1035, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_PUSHBUTTON, 195, 24, 15, 14
END

108 WAVE MOVEABLE PURE "108.wav"
109 WAVE MOVEABLE PURE "109.wav"
110 WAVE MOVEABLE PURE "110.wav"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1, 0, 0, 1
PRODUCTVERSION 1, 0, 0, 1
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x1L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041104b0"
        BEGIN
            VALUE "CompanyName", "Village Center,Inc.\0"
            VALUE "FileDescription", "Screen Mate Poo\0"
            VALUE "FileVersion", "1, 0, 0, 1\0"
            VALUE "InternalName", "Screen Mate Poo\0"
            VALUE "LegalCopyright", "Copyright (C) 1996\0"
            VALUE "OriginalFilename", "Scmpoo.exe\0"
            VALUE "ProductName", "Screen Mate Poo\0"
            VALUE "ProductVersion", "1, 0, 0, 1\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x411, 1200
    END
END
